<div class="container">

  <h2 id='title'>Ember.js and Content Security Policy</h2>

  <h3>World's best navigation:</h3>

  <ul>
    <li>{{link-to 'Home' 'index'}}</li>
    <li>{{link-to 'About' 'about'}}</li>
    <li>{{link-to 'YouTube Video' 'video'}}</li>
    <li>{{link-to 'Google Fonts' 'font'}}</li>
    <li>{{link-to 'Justin\'s Life Status' 'deadman'}}</li>
  </ul>

  <hr>

  {{outlet}}

</div>
